* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #448C4A;
}

#filbis {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#face, #arms {
    animation: bounceBody 1s infinite;
}

#eyebrows {
    animation: bounceEyebrows 1s infinite;
}

@keyframes bounceBody {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
}

@keyframes bounceEyebrows {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}