@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		--tw-text-shadow-x: 0;
		--tw-text-shadow-y: 0;
		@apply font-primary;
	}

	.h1, .h2, .h3, .h4, .h5 {
		@apply font-shrikhand font-medium text-secondary-100;
	}

	.h1 {
		@apply text-3xl sm:text-5xl lg:text-7xl;

		&.with-shadow {
			@apply text-shadow text-shadow-y-1 sm:text-shadow-y-1.5 lg:text-shadow-y-2 shadow-primary-400;
		}
	}

	.h2 {
		@apply text-5xl lg:text-6xl;
	}

	input {
		@apply border-none;
	}

	svg[name="filbis"].center {
		@apply translate-x-[8%];
	}

	#face, #arms {
		@apply motion-safe:animate-[bounceBody_1s_infinite];
	}

	#eyebrows {
		@apply motion-safe:animate-[bounceEyebrows_1s_infinite];
	}

	@keyframes bounceBody {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(4px);
		}
	}

	@keyframes bounceEyebrows {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}
}

@layer components {
	.btn {
		@apply font-shrikhand rounded-full p-3 transition-colors;

		&.btn-primary {
			@apply text-secondary-100 bg-primary-400 hover:bg-primary-500 active:bg-primary-600;
		}
	}

	.icon {
		@apply fill-white hover:fill-slate-200 active:fill-slate-300 transition-colors
	}
}

@layer utilities {
	.container-block {
		container-type: size;
	}
}