@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		--tw-text-shadow-x: 0;
		--tw-text-shadow-y: 0;
		@apply font-primary;
	}

	h1, h2, h3, h4, h5 {
		@apply font-primary font-medium;
	}

	h1 {
		@apply text-6xl tablet:text-7xl;
	}

	h2 {
		@apply text-5xl tablet:text-6xl;
	}

	input {
		@apply border-none;
	}

	#face, #arms {
		@apply motion-safe:animate-[bounceBody_1s_infinite];
	}

	#eyebrows {
		@apply motion-safe:animate-[bounceEyebrows_1s_infinite];
	}

	@keyframes bounceBody {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(4px);
		}
	}

	@keyframes bounceEyebrows {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}
}

@layer components {
	.btn {
		@apply font-shrikhand rounded-full p-3 transition-colors;

		&.btn-primary {
			@apply text-secondary-100 bg-primary-400 hover:bg-primary-500 active:bg-primary-600;
		}
	}

	.icon {
		@apply fill-white hover:fill-slate-200 active:fill-slate-300 transition-colors
	}
}